<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Pokemons</h1>
    <form method="POST" action="/formulario">
        <div>
            <label for="Imagem">Imagem do Pokemon: </label>
            <input type="url" name="Imagem" id="url"
            placeholder="https://assets.pokemon.com/assets..."
            pattern="https://assets.pokemon.com/assets/cms2/img/pokedex/full/.*" size="150"
            required>
        </div>
        <div>
            <label for="Nome">Nome: </label>
            <input type="text" name="Nome" placeholder="Digite o nome">
        </div>
        <div>
            <label for="Tipo">Tipo: </label>
            <input type="text" name="Tipo" placeholder="Digite o tipo">
        </div>
        <div>
            <label for="Descricao">Descricao: </label>
            <input type="text" name="Descricao" placeholder="Digite a descricao">
        </div>
        <div>
            <label for="Altura">Altura: </label>
            <input type="number" name="Altura" placeholder="Digite a altura em metros">
        </div>
        <div>
            <label for="Peso">Peso: </label>
            <input type="number" name="Peso" placeholder="Digite o peso em Kg">
        </div>
        <div>
            <label for="Categoria">Categoria: </label>
            <input type="text" name="Categoria" placeholder="Digite a Categoria">
        </div>
        <div>
            <label for="Habilidade">Habilidade: </label>
            <input type="text" name="Habilidade" placeholder="Digite a Habilidade">
        </div>
        <button type="submit">Salvar</button>
</body>
</html>