<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemon.nome %></title>
</head>
<body>
    <div>
        <% for (let atrib in pokemon) { %>
            <% if (atrib == Imagem) { %>
                <img src="<% pokemon.atrib %>" alt="imagem do Pokemon">
            }
            <li><%= atrib: pokemon.atrib %></li>
        <% } %>
    </div>
    
</body>
</html>